.showCard {
    border: 1px solid #ccc;
    max-width: 300px;
    margin: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .cardImage img {
    max-width: 100%; /* Set the image to take up 100% of the available width */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
  }
  
  
  .cardContent {
    padding: 16px;
  }
  
  .cardTitle {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .cardDescription {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  
  .commentForm {
    display: flex;
  }
  